DOWNLOAD={{ dir.xdg_user_download }}
TEMPLATES={{ dir.xdg_user_templates }}
DOCUMENTS={{ dir.xdg_user_documents }}
MUSIC={{ dir.xdg_user_music }}
PICTURES={{ dir.xdg_user_pictures }}
VIDEOS={{ dir.xdg_user_videos }}
PUBLICSHARE={{ dir.xdg_user_publicshare }}
